<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean" rel="stylesheet">
        <style type="text/css">
        .templete-wrapper{
            width: 600px;
            border: 1px solid #d9e1e8;
            padding: 20px;
            font-family: 'Noto Sans KR', sans-serif;
            text-align: center;
        }
        .logo{
            font-size: 32px;
            margin: 0;
            padding: 0px 0px 20px 0px;
            font-weight: 700;
            font-family: "Inconsolata", Arial, sans-serif;
        }
        .logo span{
            font-size: 38px;
            color:#2b90d9;
        }
        .authCode{
            margin: 20px auto 20px auto; 
            width: 200px; 
            border: 1px solid #d9e1e8; 
            color: #2b90d9;
        }
        </style>
    </head>
    <body>
        <div class='templete-wrapper'>
            <p class='logo'>Travel<span>&</span>joy</p>
            <p>Travel&Joy 회원 가입을 위한 인증번호 입니다.</p>
            <p>아래의 인증 번호를 입력하여 인증을 완료해주세요.</p>
            <div class="authCode">
                <h2><%= authCode %></h2>
            </div>
        </div>
    </body>
</html>