/*
검정  #282c37
회색 #9baec8
밝은 회색 #d9e1e8
파랑색 #2b90d9
*/
.account-wrapper{
    text-align: center;
    /* padding-top: 50px; */
    padding-bottom: 100px;
    font-family: 'Noto Sans KR', sans-serif;
}
.account-title{
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #9baec8;
    padding-bottom: 40px;
}
.account-type-wrapper{ 
    padding-top: 80px;
    width: max-content;
    margin: auto;
}

.account-type-div{
    font-family: 'Noto Sans KR', sans-serif;
    width: 400px;
    height: 220px;
    display: inline-block;
    border-radius: 0.5rem;
    border: 1px solid #d9e1e8;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.account-type-img{
    width: 150px;
    vertical-align: middle;
    margin-right: 15px;
}
.account-type-msg-wrapper{
    overflow: hidden;
    margin-top: 15px;
    
}
.account-type-msg-1{
    font-size: 15px;
    display: inline-block;
    color: #4e525f;
}
.account-type-msg-2{
    font-size: 20px;
    display: block;
    color:  #2b90d9;
}

.account-type-Link:hover{
    color: black;
}

.input_normal{
    width: 300px;
    height: 40px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #d9e1e8;
    color: #282c37;
    font-family: 'Noto Sans KR', sans-serif;
}

.input_password{
    width: 300px;
    height: 40px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #d9e1e8;
    color: #282c37;
    font-family: 'Noto Sans KR', sans-serif;
}

.email-fail{
    font-size: 13px;
    font-weight: 500;
    color: #cd1f1f;
    background-color: #fde1e6;
    margin-top: -14px;
    padding: 2px;
    padding-bottom: 3px;
}
.email-succ{
    font-size: 13px;
    font-weight: 500;
    color: #187ddf;
    background-color: #def7ff;
    margin-top: -14px;
    padding: 2px;
    padding-bottom: 3px;
}
.email-already{
    font-size: 13px;
    font-weight: 500;
    color: #dc4900;
    background-color: #ffefcb;
    margin-top: -14px;
    padding: 2px;
    padding-bottom: 3px;
}

.nickname-fail{
    font-size: 15pt;
    color: tomato;
    position: absolute;
    transform: translate(125px, 29px);
}

.nickname-succ{
    font-size: 15pt;
    color: #2b90d9;
    position: absolute;
    transform: translate(125px, 29px);
}

.accountBtn{
    width: 100%;
    height: 45px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 16px;
    border-radius: 2px;
    background-color: #2b90d9;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
}
.account-form{
    /* border: 1px solid darkslateblue; */
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.row-name{
    /* border: 1px solid deeppink; */
    text-align: left;
    margin-bottom: -12px;
    color: #282c37;
    font-size: 13px;
    font-weight: 500;
}

.profile_preview {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}