/*
검정  #282c37
회색 #9baec8
밝은 회색 #d9e1e8
파랑색 #2b90d9
*/

.login-wrapper{
    margin-top: 80px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}

.login-form{
    margin-left: auto;
    margin-right: auto;
}

.login{
    width: 330px;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #d9e1e8;
    color: #282c37;
    font-family: 'Noto Sans KR', sans-serif;
    display: block;
    margin: 0px auto 7px auto;
}

.loginBtn{
    padding-left: 7px;
    padding-right: 7px;
    font-size: 17px;
    background-color: #2b90d9;
    color: #fff;
    border: none;
    cursor: pointer;
    display: block;
}

.caps-lock-warning{
    font-size: 13px;
    color: #2f2f2f;
    position: absolute;
    background: #ffc880;
    width: 250px;
    margin: -10px auto 10px 390px;
    border-radius: 2px;
    padding: 5px;
    font-weight: 500;
}

.caps-lock-warning:after {
    bottom: 100%;
    left: 12%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #ffc880;
    border-width: 6px;
    margin-left: -10px;
}

.social-login{
    width: 330px;
    height: 50px;
    display: block;
    margin: 5px auto 0px auto;
    border-radius: 2px;
    font-size: 17px;
    font-weight: 400;
    line-height: 41px;
}

.facebook{
    background-color: #3B5998;
    color: #fff;
}
.facebook:hover{
    color: #fff;
    text-decoration: none;
}
.facebook-icon {
    font-size: 25px;
    font-weight: 400;
    display: inline-block;
    transform: translate(0px, 2px);
}

.kakao{
    background-color: #F7E317;
    color: #3C1E1E;
    font-weight: 500;
    line-height: 50px;
}
.kakao:hover{
    color: #3C1E1E;
    text-decoration: none;
}
.kakao-icon{
    width: 25px;
    vertical-align: text-top;
}

.naver{
    background-color:#03CF5D;
    color: #fff;
    line-height: 50px;
}
.naver:hover{
    color: #fff;
    text-decoration: none;
}
.naver-icon{
    width: 30px;
    vertical-align: text-bottom;
    transform: translate(0px, 2px);
}

.account-text{
    color:  #282c37;
    font-size: 13px;
    transform: translate(0px, -10px);
}
.accountLink{
    font-size: 13px;
    text-decoration-line: underline;
    color: #9baec8;
    font-weight: 600;
}
.accountLink:hover {
    font-weight: bold;
}

.login-logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-family: "Inconsolata", Arial, sans-serif;
    padding-bottom: 30px;
}

.login-logo span {
    font-size: 38px;
    color:#2b90d9;
    text-decoration: none;
}