.Modal-overlay{
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.16);
}
.Modal{
   z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 520px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    & > * {
      &:first-child{
        margin-top: 16px;
      }
      margin-left: 16px;
      margin-right: 16px;
    }
    p.title{
      font-size: 16pt;
      font-weight: bold;
      color: #333;
    }
    .content{
      margin-top: 16px;
      margin-bottom: 20px;
      height: 380px;
      overflow: scroll;
      p{
        padding: 8px;
        font-size: 12pt;
        margin-bottom: 5px;
        border-radius: 5px;
        width: 250px;
        &.me {
          background: #eee;
          float: right;
        }
        &.you {
          background: #2b90d9;
          color: #fff;
          float: left;
        }
      }
    }
    
    .chat-send{
      form{
        input[type=text]{
          width: 220px;
          border: 1px solid #9baec8;
          border-radius: 5px;
          padding-left: 10px;
        }
        input[type=submit]{
          float: right;
          border: 0;
          border-radius: 5px;
          width: 50px;
          height: 30px;
          background: #2b90d9;
          color: #ffffff;
        }
      }
    }

    .button-wrap{
      margin: 0;
      margin-top: 8px;
      button{
        width: 100%;
        padding: 12px 0;
        border-radius: 0 0 10px 10px;
        background-color: #9baec8;
        font-size: 13pt;
        color: white;
        border: 0;
        cursor: pointer;
        &:hover{
          background-color: #2b90d9;
        }
        &:active{
          background-color: #2b90d9;
        }
      }
    }
  }