/*
검정  #282c37
회색 #9baec8
밝은 회색 #d9e1e8
파랑색 #2b90d9
*/

a {
  color: #2b90d9;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #2b90d9;
  outline: none;
  text-decoration: none;
}

.header-wrapper{
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.header-nav{
    background: #fff;
}

.header-nav .top-menu{
    padding: 28px 0;
}

.header-nav, #header-logo{
    font-size: 32px;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-family: "Inconsolata", Arial, sans-serif;
}

.header-nav #header-logo a span{
    font-size: 38px;
    color:#2b90d9;
    text-decoration: none;
}

.header-nav a{
    padding: 5px 10px;
    color: #282c37;
    text-decoration: none;
}

.header-nav ul{
    padding: 0;
    margin: 5px 0 0 0;
}

.header-nav ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
}

.header-nav ul li a{
    font-size: 18px;
    padding: 30px 15px;
    color: rgba(0, 0, 0, 0.6);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    
}
.header-nav ul li a:hover, .header-nav ul li a:focus, .header-nav ul li a:active {
    color: black;

}
.header-nav ul li.login-logout-btn a {
    padding: 30px 0px !important;
    color: #fff;
  
  }
  .header-nav ul li.login-logout-btn a span {
    background: #2b90d9;
    padding: 4px 10px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
   
  }
  .header-nav ul li.login-logout-btn a:hover span {
    transform: translate(-1px, -1px);
    box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.26);
  }
  .header-nav ul li .menu.active {
    color: #000 !important;
    position: relative;
    
  }
  .header-nav ul li > .menu.active:after {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    content: '';
    width: 30px;
    height: 2px;
    background: #2b90d9;
    margin: 0 auto;
    
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .row:before, .row:after {
    content: " ";
    display: table;
  }
  .row:after {
    clear: both;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container:before, .container:after {
    content: " ";
    display: table;
  }
  .container:after {
    clear: both;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .header-logo-wrapper{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 21.66667%;
  }

  .menu-wrapper{
    position: relative;
    min-height: 1px;
    float: left;
    width: 100%;
    text-align: right;
  }

  .menu-wrapper ul{
    padding-right:15px;
    padding-left:15px;
  }

  .menu-wrapper ul li a, #header-logo a{
      text-decoration: none;
  }

  #header-logo a{}