@font-face { 
    font-family: 'MapoGoldenPier'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }

/*
검정  #282c37
회색 #9baec8
밝은 회색 #d9e1e8
파랑색 #2b90d9
*/
.home-wrapper {
    width: 100%;
    padding-bottom: 70px;
}


/* 슬라이드쇼 */
.slideshow-wrapper{
    width: 100%;
}
.slide-txt{
    /* background-color: rgba(255, 255, 255, 0.5); */
    position: absolute;
    font-family: 'GmarketSansMedium';
    font-size: 25pt;
    color: #fff;
    margin-top: 120px;
    padding: 25px;
    float: right;
}
.slide-img{
    width: 100%;
    height: 300px;
    border-radius: 7px;
    object-fit: cover;
    
}


/* 소제목 */
.home-subtitle{
    font-size: 16pt;
    font-weight: 600;
    margin-bottom: 15px;
}


/* 추천 여행 */
.recommendlist-wrapper{
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Noto Sans KR', sans-serif;
}
.recommendtour{
    border: 1px solid #d9e1e8;
    border-radius: 4px;
    width: 270px;
    display: inline-block;
    margin: 0px 5px 0px 5px;
    transition: 0.3s;
    /* box-shadow: 1px 2px 7px 1px #dfe3ea; */
}
.recommendtour:first-child{
    margin: 0px 5px 0px 0px;
}
.recommendtour:last-child{
    margin: 0px 0px 0px 5px;
}
.recommendtour:hover{
    box-shadow: 1px 2px 7px 1px #dfe3ea;
    transform: translate(0px, -3px);
    cursor: pointer;
}
.thumbnail{
    width: 100%;
    height: 170px;
    object-fit: cover;
    position: relative;
}
.thumbnail-like{
    position: absolute;
    z-index: 1000;
    font-size: 16pt;
    transform: translate(235px, 2px);
}
.thumbnail-img{
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    object-fit: cover;
    width: 100%;
    height: inherit;
    transform: translate(0px, -1px);
}
.recommendtour-body{
    height: 145px;
    padding: 17px;
}
.loc{
    padding: 0;
    font-size: 10pt;
    color:  #9baec8;
    height: fit-content;
}
.title{
    max-height: 70px;
    width: 100%;
    padding: 0;
    font-size: 14pt;
    font-weight: 600;
    display: inline-block;
}
.tourprice{
    padding: 0;
    font-size: 12pt;
    color:  #9baec8;
    display: inline-block;
    height: fit-content;
    width: 65%;
}
.tourscore{
    padding: 0;
    font-size: 10pt;
    font-weight: 300;
    display: inline-block;
    height: fit-content;
    /* float: right; */
    width: 35%;
    text-align: right;
    color: #282c37;
}
.recommendtourbtn{
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    font-size: 15pt;
    line-height: 2.1;
    transition: 0.3s;
    border: 1px solid #d9e1e8;
}
.recommendtourbtn:hover{
    box-shadow: 1px 2px 4px 1px #dcdfe4;
    cursor: pointer;
}
.next{
    padding-left: 3px;
    margin: -168px -17px 0px 1090px;
}
.prev{
    padding-right: 3px;
    margin: -168px 1090px 0px -21px;
    display: none;
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(20px);
              transform: translateX(20px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(20px);
              transform: translateX(20px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-20px);
              transform: translateX(-20px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-20px);
              transform: translateX(-20px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  

/* 자유게시판 글 */
.recommendtalk-wrapper{
    display: inline-block;
    margin: 1px 1px 1px 1px;
}
.recommendtalk{
    width: 220px;
    display: inline-block;
    cursor: pointer;
}
.recommendtalk-thumbnail{
    width: 220px;
    height: 220px;
    object-fit: cover;
}
.recommnedtalk-hover{
    background-color: #000;
    opacity: 0.5;
    color: #fff;
    position: absolute;
    width: 220px;
    height: 220px;
    transform: translate(0px, -220px);
    text-align: center;
    font-size: 15pt;
    font-weight: 400;
    line-height: 11;
    transition: 0.5s;
}
.readmore-btn{
    width: 45px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    margin: 50px auto 0px auto;
    content: url('../images/more.png');
    transition: 0.8s;
}
.readmore-btn:hover{
    content: url('../images/plus.png');
}
.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  