.guide-main-bar{
    margin-top: 40px;
    display: block;
    background-color: #2c5f86de;
    border: 1px solid #e6eaec;
    color: #041225;
    width: 100%;
    height: 120px;
    box-shadow: 4px 4px 1px -1px #c3d7e7af;
    
}
.guide-mode{
    float: right;
    margin-top: 4px;
    margin-right: 10px;
    padding: 5px;
    background-color: #71b8e0;
    font-size: 10pt;
    font-weight: 600;
    color: #101618e7;
    border-radius: 0.4rem;
    box-shadow: 2px 2px 1px -1px #3776a7af;
}
.guide-main-info-bar{
    margin-top: 30px;
    margin-left: 20px;
    color: rgba(101, 249, 249, 0.438);
}
.guide-id-span{
    font-weight: bolder;
    color: rgba(19, 18, 18, 0.924);
}

.guide-main-div{
   margin-top: 110px;
}

.guide-tour-img{
    width: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.guide-tour-btn1{
    float: left;
    margin: 65px 30px 30px 90px;
    width: auto;
    display: inline-block;
    /* border: 1px solid; */
}
.guide-tour-btn1 label:hover{
    color: rgba(18, 92, 177, 0.938);
}
.guide-tour-btn2 label:hover{
    color: rgba(18, 92, 177, 0.938);
}
.guide-tour-btn3 label:hover{
    color: rgba(18, 92, 177, 0.938);
}

.guide-tour-btn2{
    float: right;
    margin: 65px 100px 30px 50px;
    width: auto;
    display: inline-block;
    /* border: 1px solid; */
}

.guide-tour-btn3{
  float: right;
  margin: 65px 100px 30px 50px;
  width: auto;
  display: inline-block;
  /* border: 1px solid; */
}

.guide-tour-label{
    font-weight: bold;
    font-size: 20pt;
    color: #2b90d9;
    vertical-align: middle;
    text-align: center
}

.guide-main-home{
    width: 160px;
    margin-top: 40px;
    margin-left: 20px;
}

.guide-tour-home-img{
    width: 37px;
}
.guide-main-info{
    display: inline-block;
    margin-left: 10px;
}
.guide-main-info-btn{
    width: max-content;
    text-align: center;
    cursor: pointer;
    color: rgba(230, 234, 241, 0.733);
    background-color: rgba(26, 92, 126, 0.829);
    border: none;
    border-radius: 3rem; 
    box-shadow: 1.9px 1.9px 1px -1px #7baed8af;
    font-size: 10pt;
    font-weight: bolder;   
}
.guide-info-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}
.guide-info-popup_inner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 410px;
    background: rgba(255, 255, 255, 0.92);
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    overflow: scroll;
}
.guide-info-all{
    margin-top: 30px;
}
.guide-info-div{
    margin-left: 23%;
    margin-bottom: 10px;
}
.guide-info-title{
    display: inline-block;
    color: #2b90d9;
    font-weight: bolder;
}
.guide-info-val{
    display: inline-block;
    margin-right: 27%;
    float: right;
    color: rgb(42, 42, 46);
    font-size: 11pt;
}
.guide-info-btn{
    margin-top: 30px;
    width: 30%;
    margin-left: 35%;
    text-align: center;
    cursor: pointer;
    color: rgba(76, 76, 92, 0.733);
    border: 1px solid rgb(194, 207, 216);
}
.guide-info-btn:hover{
    color: rgba(18, 92, 177, 0.938);
    background-color: rgba(185, 205, 228, 0.938);
}
/* .guide-info-edit-btn{
    margin-top: 11px;
    float: right;
    width: 20%;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(194, 207, 216);
} */
.guide-info-img{
    margin-top: 30px;
    margin-left: 25%;
    width: 50%;
    border-radius: 10rem;
    border: 1px solid rgba(46, 45, 45, 0.329);
}