.guide-make-form-div{
    margin-top: 50px;
    text-align: center;
}
.guide-make-info-div{
    margin-top: 50px;
    display:inline-block; 
}
div.DraftEditor-root {
    width:100%;
    height:180px;
}
.toolbarClassName{
    width: 100%;
}
.guide-make-h{
    border-bottom: 1px solid rgba(83, 82, 81, 0.123);
    padding-top: 40px;
    padding-bottom: 10px;
}
.guide-make-s{
    padding-left: 48px;
    font-size: 15pt;
    font-weight: bolder;
}
.tour-submit-btn{
    margin-top: 10px;
    margin-bottom: 40px;
	width: 130px;
    height: 40px;
    outline: none;
    border-radius: 0.2em;
    background-color: #2b90d9;   
    font-size: 18px;
    color:  #d9e1e8;
    font-weight: bold;
    border: none;
}
.tour-submit-btn:hover{
	background-color: #0c6ac3;
	color: #c4d9eb;
}
.guide-input-category{
    border: none;
    outline: none;
	height: 30px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.685);
}
.guide-input-time{
    margin-left: 20px;
    margin-right: 20px;
    outline: none;
    width : 85px;
	height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.685);
    border-radius: 3rem;
}
.guide-titleSpan{
    /* display: inline-block; */
    text-align: left;
    width: 150px;
    display: inline-block;
    margin-bottom: 17px;
    font-weight: 630;
}
.guide-input{
    width: 70%;
    display: inline-block;
    margin-bottom: 17px;
}
.guide-titleSpan-desapi{
    text-align: left;
    width: 150px;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 630;
}
.guide-input-desapi{
    width: 70%;
    display: inline-block;
    margin-bottom: 10px;
}
.guide-form-input{
    border: none;
    outline: none;
    border-right:0px; 
    border-top:0px; 
    border-left:0px;
    border-bottom: 1px solid #4b5161;
}
.guide-tourinfoSpan{
    text-align: left;
    margin-left: 35px;
    margin-bottom: 10px;
    font-size: 9pt;
    color: #2b90d9;
}
.guide-price-info{
    font-size: 9pt;
    color: #2b90d9;
}
.guide-tour-img {
    width: 62px;
    margin-left: 10px;
}
.pre-img{
    width: 100px;
    border: 1px solid;
    border-color: #3d4546e3;
    border-radius: 0.5rem;
}
.guide-des-plus-btn{
    margin-top: 10px;
    margin-bottom: 40px;
    width: 110px;
    height: 40px;
    outline: none;
    border-radius: 8px;
    background-color: #477496;
    font-size: 18px;
    color: #d9e1e8;
    font-weight: bold;
    border: none;
}
.guide-des-plus-btn:hover{
	background-color: #699ece;
	color: #343e47;
}
.guide-make-des-div{
    margin-top: 35px;
}
.guide-des-Btn{
    margin-top: 50px;
    margin-bottom: 20px;
	width: 60px;
    height: 40px;
    outline: none;
    border-radius: 0.5rem;
    background-color: #81b8e6;   
    font-size: 18px;
    color:  #282c37;
    font-weight: bold;
    border: none;
}
.des-fine-btn{
    margin-left: 10px;
}
textarea{
    width: 400px;
    height: 50px;
    resize: none;
    margin-top: 10px;
}
.guide-final-submit-btn{
    margin-top: 10px;
    margin-bottom: 40px;
	width: 110px;
    height: 40px;
    outline: none;
    border-radius: 0.3rem;
    background-color: #2b90d9;   
    font-size: 18px;
    color:  #d9e1e8;
    font-weight: bold;
    border: none;
}
.guide-final-submit-btn:hover{
	background-color: #0c6ac3;
	color: #c4d9eb;
}
.des-List-span{
    width: 150px;
    display: inline-block;
    margin-bottom: 17px;
    font-weight: 630;
    color: #155fa2;;
}
.des-List-value{
    width: 70%;
    display: inline-block;
    margin-bottom: 17px;
    font-weight: 600;
    color: #130f0fd6;
}
.des-List-Num{
    text-align: center;
    font-size: 15pt;
    margin-bottom: 30px;
    font-weight: bolder;
    color: #155fa2;
    width: 100%;
}
.des-List-div{
    border: 1px solid #0f82ca4d;
    background-color: #60bfe647;
    width: 68%;
    padding: 10px;
    margin-bottom: 50px;
    margin-left: 17%;
    border-radius: 7rem;
}

