.talk-modal-wrap div {
    width: 100%;
    position: absolute;
    top: 20%;
}
#modal-body-profile-detail-body{
    padding:2px;
}
.modal-image-wrap {
    width: 100%;
    height: auto;
}
.modal-image-aligner {
    text-align: center;
}
.modal-image-wrap img{
    width: auto;
    height: 100%;
    margin: 15px;
}

.modal-content-wrap{

}
.modal-content-wrap .modal-body{

}

.modal-body-comments {
    height: 270px;
    overflow: auto !important;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.modal-body-comments::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.modal-body-comments .comment-body{
    font-size: 13px;
}
.comment-author{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.comment-author a{
    vertical-align: middle;
}
.modal-body-comments .media{

}
.modal-body-function{
    display: flex;
    justify-content: space-between;
}

.modal-body-function i{
    font-size: 30px;
    margin: 15px;
    cursor: pointer;
}

modal-body-write-comment{
    margin: 10px;
}
.modal-body-write-comment form{
    margin-top: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
}
.modal-body-write-comment form input{
    width: 400px;
    height: 30px;
    border: none;
    padding-left: 10px;
}
.modal-body-write-comment form #comment-submit{
    border: none;
    background-color: white;
}


/*ICON, COMMONS*/
.fa-ellipsis-h {
    font-size: 27px;
}
.modal-content-wrap a{
    text-decoration: none;
}
Col{
    padding:0px;
}
.moment-info {
    font-size: 13px;
    color: rgb(100, 100, 100) !important;
}