#btnFileSubmit{
    width: 100%;
}

#talk-write-modal div{
    padding: 10px;
    margin: 10px;
}
#talk-write-modal .modal-content{
    width: 700px;
    height: 400px;
    margin: auto;
    left: -15%;
    overflow: auto !important;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
#talk-write-modal .modal-content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
#talk-write-modal .modal-content div{
    width: 97%;
    margin: auto;
    left: -2%;
}

.multi-preview img{
    height: 100px;
    width: auto;
    margin: 5px;
}

