
body{
    font-family: "Inconsolata", Arial, sans-serif;
}
a{
    color:#282c37;
    text-decoration: none;
    padding: 0 10px;
    line-height: 30px;
    font-weight: 700;
}


.mypage-heading{
    color: #495056;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 17px;
    padding: 0 5px;
}

.mypage-sidebar{
    color: #343a40;
    display: inline-block;
    float:left;
    margin-right: 18px;
    min-width: 250px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}



.container .box{
    
    border-radius: 2px;
    /* box-shadow: 0 1px 0 0 #e9ecef; */
    margin-bottom: 8px;
}

.mypage-sidebar .box{
    margin-bottom: 0;
}

.profile-container{
    border-bottom: 1px solid #e9ecef;
    height: 250px;
    padding: 42px 10px 30px;
    text-align: center;
}

.item-container{
    margin-top: 8px;
    padding: 16px 20px;
    
}

.item{
    display: block;
    font-weight: 500;
    margin: 7px 0;
}


@media screen and (max-width:990px){
    .box .profile-container {
        height:200px;
    }
    .mypage-sidebar{
        width:100%;
    }
    .mypage-body{
        margin-top:8px;
        width:100%;
    }
}


.mypage-body{
    display: inline-block;
    min-width: 75%;
    max-width: 842px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.body-wrapper{
    color: #495056;
    font-weight: 500;
    position: relative;
}

.body-info-container{
    font-size: 14px;
    min-height: 600px;
    padding: 50px 35px 40px;
    position: relative;
}


.profile-container .profile-img{
    border: 2px solid #e9ecef;
    border-radius: 50%;
    width:90px;
    height:90px;
    vertical-align:middle;
    
}
.profile-info{
    padding: 10px 0;
}

.fa-cog{
   vertical-align: middle;
}

.basic-btn{
    font-weight: 600;
    font-size: 13px;
    height: 32px;
    line-height: 30px;
    position: absolute;
    right: 40px;
    top: 32px;
    width: 70px;
    z-index: 10;
    background-color: #fff;
    border: solid 1px #ced4da;
    color: #495056 !important;
    font-family: "Inconsolata", Arial, sans-serif;

}



/* --------------------  MyInfo CSS  ------------------------- */

.body-profile-info-container{
    margin-bottom: 50px;
    position: relative;
    text-align: center;
}

.body-profile-info-container .profile-img{
    border: 2px solid #e9ecef;
    border-radius: 50%;
    width:110px;
    height:110px;
    vertical-align:middle;
}

.form-group{
    line-height: 27px;
    margin-bottom: 25px;
    position: relative;
}

.form-group .input-wrapper{
    display: inline-block;
    padding-left: 122px;
}
.info-title{
    float:left;
    font-weight: 700;
    font-size:17px;
    position: absolute;
    width: 122px;
    font-family:"Inconsolata", Arial, sans-serif;
}

.form-input-group:read-only{
    
    text-align:right;
    border:none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    color: #343a40;
    background-color: inherit;
    font-weight: 500;
    height: 25px;
    margin-top: 0;
    padding: 0 20px;
}

.form-input-group{
    float:right;
    background-color: #fff;
    border: solid 1px #ced4da;
    font-weight: 500;
    width:225px;
    height: 25px;
    margin-top: 0;
    padding: 0 20px;
}

#user-info-edit-form{
    padding:0 200px;
  
}


@media screen and (max-width:990px){
 
    #user-info-edit-form{
        padding:0 130px;
    }
}

.update-group-btn{
    font-weight: 600;
    font-size: 13px;
    height: 32px;
    line-height: 30px;
    width: 161px;
    z-index: 10;
    background-color: #fff;
    border: solid 1px #ced4da;
    color: #495056 !important;
    font-family: "Inconsolata", Arial, sans-serif;
    margin:0 10px;
    display:none;
}

.profile-uploader{
    cursor: pointer;
    height: 35px;
    left: -62%;
    opacity: 0;
    position: absolute;
    top: 4px;
    width: 49px;
    z-index: 500;
}
.input-camera{
    margin-top:7px;
}
#file-uploader-wrapper{
    cursor: pointer;
    left: 50%;
    margin-left: 23px;
    position: absolute;
    top: 79px;
    z-index: 20;
    display: none;
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color:#0000004d;
}

.sns-img{
    margin-left:170px;
    height:30px;
    width:30px;
}
/* ----------------------- MyTravel CSS -------------------------- */

.search-input{
    font-weight: 600;
    font-size: 13px;
    height: 28px;
    line-height: 30px;
    position: absolute;
    right: 114px;
    top: 32px;
    width: 205px;
    z-index: 10;
    background-color: #fff;
    border-top-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom: 1px solid #ced4da;
    color: #495056 !important;
    font-family: "Inconsolata", Arial, sans-serif;
}

.category-selection{
    font-weight: 600;
    font-size: 13px;
    height: 32px;
    line-height: 30px;
    position: absolute;
    right: 324px;
    top: 32px;
    width: 90px;
    z-index: 10;
    background-color: #fff;
    border: 1px solid #ced4da;
    color: #495056 !important;
    font-family: "Inconsolata", Arial, sans-serif;
}

.list-container{
    padding:30px 0;
}

#duplicate-check{
    display: none;
    font-weight: 600;
    font-size: 13px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    right: -111px;
    top: 0px;
    width: 120px;
    z-index: 10;
    background-color: #fff;
    border: 1px solid #ced4da;
    color: #495056 !important;
    font-family: "Inconsolata", Arial, sans-serif;
}

.travel-wrapper{
    margin: 50px 0px;
    display: inline;   
    float: left;
}

.travel-wrapper > .card-container{
    width:240px;
    height:290px;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 16px;

}